<h1>Bonobos Outfit App</h1>
<p>A place where you can easily put together your own unique Bonobos outfits and share them with friends.</p>

<p>Check out the latest submitted outfit:</p>

<%= render(:partial => "view_outfit", :locals => {:outfit => @last_outfit, :more_links => false}) %>

<p>Looking cool, right? Easily build your own! Start by choosing a setting:</p>

<%= form_for(:outfit, :url => {:action => 'create'}) do |f| %>
  	  
	<%= render(:partial => "form", :locals => {:f => f}) %>

  <div class="form-buttons">
    <%= submit_tag("New Outfit") %>
  </div>

<% end %>