<div class="main">
    <section style="background-image: url(<%= asset_path 'slide1_bg.jpg' %>);">text</section>
    <section style="background-image: url(<%= asset_path 'slide2_bg.jpg' %>);">more text</section>
</div>